<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Music repeater</title>
  <meta name="description" content="Music repeater">
  <meta name="author" content="Forrana">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css?v=1.5">

</head>
<body>
  <main id="app">
    <audio id="myAudio" ref="audio" preload="metadata">
      <source src="audio/performance.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <section class="controls">
      <button v-on:click="playOrPause()" :disabled="isLocked" class="button button-small">
        <span v-if="isPaused">Play</span>
        <span v-if="!isPaused">Stop</span>
      </button>
      <button v-on:click="toggleRepeat()" :disabled="isLocked" class="button button-small">
        <span v-if="isRepeatMode">Repeat ON</span>
        <span v-if="!isRepeatMode">Repeat OFF</span>
      </button>
      <!-- <input type="number" v-model="timeDelta" min="0" max="15"> -->
    </section>
    <section class="list-container">
      <ol>
        <li v-for="(number, index) in numbersList" v-on:click="!isLocked && setNumberTime(number, true)" :key="number.time" :class="{ active: index == activeElementIndex }">
          {{ number.name }} - {{ number.participanst }}
          <span v-if="index != activeElementIndex"> {{ totalTime(number) }} </span>
          <span v-if="index == activeElementIndex"> {{ timeLeft }} </span>
        </li>
      </ol>
    </section>
    <button v-on:click="toggleLock()" class="button button-small lock">
      <span v-if="isLocked">&#128274;</span>
      <span v-if="!isLocked">&#128275;</span>
    </button>
  </main>

  <script src="js/vue.global.prod.js"></script>
  <script src="js/main.js?ver=1.4"></script>
</body>
</html>
